* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#principal {
  background: url("../assets/img/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }
  #principal .PIZZAS {
    color: white; }
  #principal .INTRO {
    color: white; }
  #principal .video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  #principal .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.nav {
  grid-area: nav;
  justify-content: flex-end;
  align-items: center; }
  .nav ul {
    /*MENU */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5;
    padding: 6;
    list-style-type: none;
    overflow: hidden; }

.carousel-item {
  height: 85vh;
  min-height: 50px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

footer {
  color: aliceblue; }
