* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#principal {
  background: url("../assets/img/fondo paginas.jpg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat; }

.nav {
  justify-content: flex-end;
  align-items: center; }
  .nav ul {
    /*MENU */
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5;
    padding: 6;
    list-style-type: none;
    overflow: hidden; }
