* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#principal {
  background: url("../assets/img/fondo.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 }
 
.nav{
    justify-content: flex-end;
    align-items:center;
  ul{ /*MENU */
      display: flex; 
      justify-content: center; 
      justify-content: space-evenly; 
      margin: 5;
      padding: 6;
      list-style-type: none;
      overflow: hidden;
  } 
}

.carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-columns .card {
  display: inline-block;
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: 200px !important; //esta es la parte importante para que todas tus card-img tengan la misma medida sin importar el tamaño de la imagen
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}