<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Menu</title>
</head>
<body id="menu">
    <header class="menu">
      <div class="carta cabeza">
        <img src="../assets/img/logo.png" width="300px" alt="saboryarte"/>
        <nav>
          <nav class="nav" justify-content-end>
            <ul>
              <li class="nav-item" boton1>
                <a class="nav-link active" aria-current="page" href="./index.html">INICIO</a>
              </li>
              <li class="nav-item" boton2>
                <a class="nav-link active" aria-current="page" href="./views/Menu.html">MENU</a>
              </li>
              <li class="nav-item" boton3>
                <a class="nav-link active" aria-current="page" href="./views/Reseña.html">RESEÑA</a>
              </li>
              <li class="nav-item" boton4>
                <a class="nav-link active" aria-current="page" href="./views/Contacto.html">CONTACTO</a>
              </li>
              <li class= "nav-item" boton5>
                <a class="nav-link active" aria-current="page" href="./views/Blog.html">BLOG</a>
              </li>
            </ul>
          </nav>
        </nav> 
      </header class="cartas">
      <main class="selector">
        
      </main>
      <section class="link menu">
        <a href="https://www.instagram.com/p/CgH_gc7Aw1C/" target="_blank">
          <img
            src="../assets/img/logo instagram.png"
            width="50px"
            alt="Logo Instagram"
          />
        </a>
          <a href="https://www.facebook.com/profile.php?id=100063594102768" target="_blank">
          <img
            src="../assets/img/kisspng-facebook-inc-logo-computer-icons-like-button-facebook-icon-5aba7ea7a78165.0123240515221715596861.png"
            width="40px"
            alt="Logo Facebook"
          />
        </a>
          <a href="https://web.whatsapp.com/send/?phone=%2B573208377489&fbclid=IwAR12P7Bh4O0Stc9BAluvsjaC0ZGdlbcC4yYqia2TA0aWbDGp8Hb1slVpkpo" target="_blank">
          <img
            src="../assets/img/whataspp.png"
            width="50px"
            alt="Logo Whatsapp"
          />
        </a>
      </section>
      <footer>
        <p>Todos los Derechos Reservados</p>
      </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>