<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Menu</title>
</head>
<body id="menu">
    <header class="menu">
      <div class="carta cabeza">
        <img src="../assets/img/logo.png" width="300px" alt="saboryarte"/>
      </div>
        <!--  -->
        <nav class="carta boton">
          <ul>
            <li class="boton1">
              <a href="../index.html">INICIO</a>
            </li>
            <li class="boton2">
              <a href="../views/Menu.html">MENU</a>
            </li>
            <li class="boton3">
              <a href="./views/Reseña.html">RESEÑA</a>
            </li>
            <li class="boton4">
              <a href="./views/Contacto.html">CONTACTO</a>
            </li>
            <li class="boton5">
              <a href="./views/Blog.html">BLOG</a>
            </li>
          </ul>
        </nav>
      </header class="cartas">
      <main class="selector">
        
      </main>
      <section class="link menu">
        <a href="https://www.instagram.com/p/CgH_gc7Aw1C/" target="_blank">
          <img
            src="../assets/img/logo instagram.png"
            width="50px"
            alt="Logo Instagram"
          />
        </a>
          <a href="https://www.facebook.com/profile.php?id=100063594102768" target="_blank">
          <img
            src="../assets/img/kisspng-facebook-inc-logo-computer-icons-like-button-facebook-icon-5aba7ea7a78165.0123240515221715596861.png"
            width="40px"
            alt="Logo Facebook"
          />
        </a>
          <a href="https://web.whatsapp.com/send/?phone=%2B573208377489&fbclid=IwAR12P7Bh4O0Stc9BAluvsjaC0ZGdlbcC4yYqia2TA0aWbDGp8Hb1slVpkpo" target="_blank">
          <img
            src="../assets/img/whataspp.png"
            width="50px"
            alt="Logo Whatsapp"
          />
        </a>
      </section>
      <footer>
        <p>Todos los Derechos Reservados</p>
      </footer>
</body>
</html>