// Importar variables 
@use '../base/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$fuente-1;
}

#principal {
  background: url("../assets/img/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;


  .video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}