// Importar variables 
@use '../base/variables' as v;

footer {
    color: v.$blanco;

    img {
      &:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease-out;
      }
    }

    .redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }