

/************** ( 'Fuentes' ) **************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
$fuente-1: 'Montserrat', sans-serif;



/************** ( 'Colores' ) **************/
$blanco: #ffffff;
$negro: #000;
$naranja: #e98100e6;
$rojo: #ff1f1f;


// Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;
